name: Remote SSH
on: 
  workflow_dispatch:
  push:
    branches:
      [main]
jobs:
  deploy:
    name: Deploy to dev
    runs-on: ubuntu-latest
    steps:
    - run: ${{ secrets.DEV_GITPULL_WEBHOOK }}
