name: Remote SSH
on: 
  workflow_dispatch:
  push:
    branches:
      [main]
jobs:
  deploy:
    name: Deploy to dev
    runs-on: ubuntu-latest
    steps:
    - run: |
        curl https://dev.minecraftbingo.mowemax.com/gitpull.php
